---
apiVersion: v1

baseDomain: {{ os_base_domain }}

proxy:
  httpProxy: {{ proxy_env["http_proxy"] }}
  httpsProxy: {{ proxy_env["https_proxy"] }}
  noProxy: {{ proxy_env["no_proxy"] }}

compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0

controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ groups['cp'] | length }}

metadata:
  name: {{ inventory_dir | basename }}

networking:
  clusterNetwork:
  {{ os_cluster_network_cidrs | to_yaml(indent=2) }}

  machineNetwork:
  {{ os_machine_network_cidrs | to_yaml(indent=2) }}

  networkType: {{ os_networking_type }}

  serviceNetwork:
  {% for subnet in os_svc_subnet_range %}- {{ subnet }}
  {% endfor %}

platform:
  none: {}

pullSecret: '{{ os_pull_secret }}'

sshKey: '{{ os_ssh_key }}'

capabilities:
  baselineCapabilitySet: None
  additionalEnabledCapabilities:
  - openshift-samples
  - marketplace
